<%- model_class = UserBadges -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => UserBadges %></h1>
</div>
<%= render :partial => 'form' %>
